#my-inventory-page {
    .backpack {
        display: flex;
        flex-wrap: wrap;

        .card-wrapper {
            width: 25%;
            padding-bottom: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}