@import url('https://fonts.googleapis.com/css?family=Alef:400,700&subset=hebrew');
@import './colorConstants.scss';
@import './_colorClasses.scss';

html {
    font-family: 'Alef', sans-serif;
    font-size: 16px;
}

#root {
    width: 100%;
    height: 100vh;
    direction: rtl;
    box-sizing: border-box;
    border: 1.5em solid $color-complement-2;
    padding: 1em;
    overflow: hidden;
    overflow-y: auto;
}