@import '../../styles/colorConstants.scss';
@import '../../styles/_colorClasses.scss';
$card-min-height: 5em;

$shadow-col: #aac1c7;
$card-width: 19rem;
$card-height: 22.5rem;

.item-wrapper {
    flex-grow: 1;
}

.item-card, .item-expanded {
    // border-radius: 3px;
    // border: 2px solid transparent;
    // padding: 0.5em;
    // min-height: $card-min-height;
    // display: flex;
    // flex-direction: column;

        width: $card-width;
        height: $card-height;

        background-color: #f9fbfb;
        border-radius: 6px;

        position: relative;
        display: flex;
        flex-direction: column;

        color: #5a6c7a;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: .05rem;
        
        box-shadow: 0 2rem 4rem $shadow-col;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top:0;
            left: 0;
            width: $card-width - 3rem;
            height: $card-height / 4;
            transform: translate(1.5rem, $card-height);
        }

    
    h4 {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid black;
        margin-bottom: 0.5em;
    }

    .serial {
        font-size: 0.8em;
        opacity: 0.8;

        &:after {
            content: '#';
        }
    }

    .extra-info {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        align-items: flex-end;

        .checkbox {
            &:hover {
                cursor: pointer;
            }
        }
    }

    // &:hover {
    //     cursor: pointer;
    // }

    // &.base {
    //     background-color: white;
    //     border-color: lightgrey;

    //     &:hover {
    //         background-color: lightgrey;
    //     }
    // }

    // &.blue {
    //     background-color: $color-primary-1;
    //     border-color: $color-primary-3;

    //     &:hover {
    //         background-color: $color-primary-3;

    //         .request-item {
    //             border-color: $color-primary-1;
    //             color: $color-primary-1;
    //         }
    //     }

    //     &.add {
    //         align-content: center;
    //         justify-content: center;
    //     }
        
    //     .request-item {
    //         align-self: center;
    //         width: 60px;
    //         height: 60px;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         border-radius: 50%;
    //         border: 2px solid $color-primary-3;
    //         font-size: 2em;
    //         color: $color-primary-3;
    //     }
    // }

    // &.purple {
    //     background-color: $color-secondary-1-1;
    //     border-color: $color-secondary-1-3;

    //     &:hover {
    //         background-color: $color-secondary-1-3;
    //     }
    // }

    // &.green {
    //     background-color: $color-secondary-2-1;
    //     border-color: $color-secondary-2-3;

    //     &:hover {
    //         background-color: $color-secondary-2-3;
    //     }
    // }

    // &.orange {
    //     background-color: $color-complement-1;
    //     border-color: $color-complement-3;

    //     &:hover {
    //         background-color: $color-complement-3;
    //     }
    // }
}

.item-expanded-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.3;
        filter: blur(5px);
        z-index: 1;
    }
}